@import './styles/tailwind';
@import './styles/typography';

@font-face {
	font-family: 'Inter';
	src: url('/fonts/Inter-VariableFont_slnt,wght.ttf');
	display: swap;
}

html,
body {
	@apply font-token h-full overflow-hidden bg-gradient-to-tr from-surface-50 to-surface-100 dark:from-surface-800 dark:to-surface-900;
}
